@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

/* body{
  background: #0f0c29;  /* fallback for old browsers 
   background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);   Chrome 10-25, Safari 5.1-6 
   background: linear-gradient(to right, #24243e, #302b63, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  
  
} */

/* .App {
  height: 100vh;
  display: flex;
  justify-content: centre;
  align-items: center;
  text-align: center;
} */

.register{
  /* max-width: 1512px;
  width: 100%;
  max-height: 711px;
  height:982px;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef; 
  background-color: white; */
  position: absolute;
  width: 1512px;
  height: 982px;
  left: 667px;
  top: 396px;

/* Backgroud/Neutral */

  background: #E9E9E9;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 465px;
  width: 423px;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef; 
  padding: 20px;; 
  box-sizing: border-box;

position: relative;
width: 400px;
height: 40px;
left: -98px;
top: 30px;

background: #FFFFFF;
/* Black/Lighter */

/* border: 2px solid #A5A5A5; */
}

/* #form > input:focus{
  outline: none;
} */

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 16px;
  align-items: center;
  justify-content: centre;
  
  cursor: pointer;
  position: absolute;
  width: 400px;
  height: 48px;
  left: -98px;
  top: 320px;
  color: #FFFFFF;

/* Primary/Blue */

background: #051937;
box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  /* margin-left:179px;
  margin-top:375px;
  padding: 3em 0; */
  position: absolute;
width: 202px;
height: 68px;
left: 290px;
top: 271px;

font-family: 'Lobster';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 30px;
text-align: center;

/* Primary/Blue */

color: #051937;

}

.register .col-2 img{
  width: 690px;
  height: 873px;
  /* object-fit: cover;
  align-self: flex-start; */
  position:absolute;
  right:38px;
  top:44px;
  bottom: 65px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}
