.dashboardLayout{
  display: flex;
  flex-direction: row;
  top: 30%;
  left: 1%;
  margin-left: 10%;
  position: relative;
  gap: 10%;


  .adventure{
    position: relative;
    top: 19%;
    right: 45%;
    height: 30px;
  }

  .tower{
    position: absolute;
    left: 490px;
    top: 10%;
    
    
    
  }
}

.vector1{
    height: 350px;
}

.vector2{
    height: 420px;
}