.dashboardLayout{
  display: flex;
  flex-direction: row;
  top: 30%;
  left: 1%;
  margin-left: 10%;
  position: relative;
  gap: 10%;


  .adventure{
    position: relative;
    top: 27rem;
    left: 10rem;
    height: 30px;
  }

  .tower{
    position: absolute;
    left: 65rem;
    top: 22rem;
    
    
    
  }
}

.vector1{
    height: 350px;
}

.vector2{
    height: 420px;
}