
.in{

    margin: 0;
    padding: 0;
    margin-bottom: 0;
   
    
  position: relative;
  width: 300px;
  height: 821px;
  left: 0px;
  top: 0px;
  
  
  /* Primary/Gradient */
  
  background: linear-gradient(172.39deg, rgba(5, 25, 55, 0.92) 0%, rgba(0, 53, 89, 0.92) 27.6%, rgba(0, 83, 104, 0.92) 54.69%, rgba(0, 111, 93, 0.92) 78.12%, rgba(0, 136, 59, 0.92) 99.48%);
   
  
  }