.dash{
    background-color: #E9E9E9;
    display: grid;
    grid-template-columns: 30% 50%;
    gap:3%; 

    .window{
      background: #051937;
        position: fixed;
        top: 10rem;
        right: 8rem;
        width: 300px;
        height: 350px;
        flex-shrink: 0;
        float: right;
        padding: 1rem;
        border-radius: 5px;
        
        
    }

    .window1 {
      background: #051937;
      position: fixed;
      top: 0;
      right: 34rem;
      width: 300px;
      height: 350px;
      flex-shrink: 0;
      float: right;
      padding: 1rem;
      border-radius: 5px;
    }

    .window2 {
       background: #051937;
       position: fixed;
       top: 10rem;
       right: 60rem;
       width: 300px;
       height: 350px;
       flex-shrink: 0;
       float: right;
       padding: 1rem;
       border-radius: 5px;
     }
}

.windowhead {
  color: #E9E9E9;
}
.but{
  display: grid;
  width: 25rem;
  margin-right: 10%;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;


  position: absolute;
  width: 504px;
  height: 504px;
  left: 720px;
  top: 160px;

}

.smallbut{
  width: 25rem;
  margin-right: 3rem;
  background: white;
  color: black;
}

.smallbut:hover{
    background-color: rgb(112, 244, 176);
}

.inquiry{
 margin-right: 25%;
  
}

.combine{
  display: inline-flex;
  gap:0.1rem;
}

.next{
  width: 25.3rem;
  margin-right: 3rem;
  margin-top:3%;
}

.dollar{
  position: absolute;
  width: 1rem;
  top: 2.8rem;
  left: 4rem;
}
.user{
  position: absolute;
  width: 1rem;
  top: 8.3rem;
  left: 4rem;
}


.budget{
    left: 15%;
}

.contents{
  .card_title{
    color:#ffffff;
  }
}

.budgettype{
  top: 20rem;
  position: relative;
}
.budgetroute {
  top: 20rem;
  position: relative;
}
.budgetmapone{
  top: -1rem;
    position: relative;
}
.budgetroutetwo {
  top: 20rem;
  position: relative;
}
.budgetroutethree {
  top: 20rem;
  position: relative;
}
.budgetmaptwo {
  top: -1rem;
  position: relative;
}
.budgetmapthree {
  top: -1rem;
  position: relative;
}