.header {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  /* Primary/Blue */

  color: #051937;
}

.tagLine {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.04em;

  /* Black/Light */

  color: #686868;
}
