.primaryButton {
  background: #051937;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.5);
  color: white;
  height: 2.5rem;
  width: 100%;
  border: none;
  

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
